{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Revelator API"
  },
  "host": "api.revelator.com",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/me/wallet": {
      "get": {
        "tags": [
          ""
        ],
        "operationId": "Wallet_GetCurrentUserWallet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "put": {
        "tags": [
          ""
        ],
        "operationId": "Wallet_UpdateCurrentUserWallet",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WalletDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/factsheet/{id}": {
      "get": {
        "tags": [
          ""
        ],
        "operationId": "Wallet_GetFactSheet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/financial-factsheet/{id}": {
      "get": {
        "tags": [
          ""
        ],
        "operationId": "Wallet_GetFinancialFactSheet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/account/loginad": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "Account_LoginAd",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ADLoginDTO"
            }
          }
        }
      }
    },
    "/account/impersonate": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_Impersonate",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImpersonateDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/account/fusionAuthAccesstoken/exchange": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_ExchangeFusionAuthAccessToken",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExchangeAccessTokenDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/account/login": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_Login",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/account/fusionAuthUserMigrate": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_FusionAuthUserMigrate",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FusionAuthUserMigrateDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/account/loginpartner": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_LoginPartner",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginPartnerDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LoginAsDTO"
            }
          }
        }
      }
    },
    "/account/permissions": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "Account_GetPermissions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PermissionsAccountDTO"
              }
            }
          }
        }
      }
    },
    "/account/sessions": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "Account_GetCurrentSession",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SessionDTO"
            }
          }
        }
      }
    },
    "/account/switchaccount": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_SwitchAccount",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "permissionsAccount",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PermissionsAccountDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "uuid",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        }
      }
    },
    "/account/login/as": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_LoginAs",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "permissionsAccount",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PermissionsAccountIdDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "uuid",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        }
      }
    },
    "/account/user": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "Account_GetUser",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserDTO"
            }
          }
        }
      }
    },
    "/account/resendconfirmation": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "Account_ResendConfirmationEmail",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/account/changeforgottenpassword": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_ChangeForgottenPassword",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserResetPasswordDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ChangeForgotPasswordResponseDTO"
            }
          }
        }
      }
    },
    "/account/logout": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_Logout",
        "consumes": [],
        "produces": [],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/account/impersonate/stop": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_StopImpersonating",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "uuid",
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        }
      }
    },
    "/account/signup": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_SignupAsync",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignupDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/account/checkemail": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "Account_CheckEmail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/account/user/update": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_UpdateUser",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserDTO"
            }
          }
        }
      }
    },
    "/account/user/update/showgettingstarted": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_SaveShowGettingStarted",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserDTO"
            }
          }
        }
      }
    },
    "/account/change-password": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_ChangePassword",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "ChangePasswordRequestDTO",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangePasswordRequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/account/user/metadata": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "Account_ViewUserMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ViewUserMetadataDetailsModel"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_UpsertUserMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "UpsertUserMetadataRequestDto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpsertUserMetadataRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/account/connections": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "Account_GetUserConnections",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ConnectionDTO"
              }
            }
          }
        }
      }
    },
    "/account/connections/facebook": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_UpdateFacebook",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/users/{userId}/permissions": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "Account_GetUserPermissions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PermissionsAccountDTO"
              }
            }
          }
        }
      }
    },
    "/users/{userId}/permissions/{permissionId}/set-default": {
      "put": {
        "tags": [
          "account"
        ],
        "operationId": "Account_SetDefaultPermissions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "permissionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "permissionId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PermissionsAccountDTO"
              }
            }
          }
        }
      }
    },
    "/account/notifications": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "Account_GetUserNotifications",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotificationsDTO"
            }
          }
        }
      },
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_UpdateUserNotifications",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationsDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotificationsDTO"
            }
          }
        }
      }
    },
    "/account/approve/{id}": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "Account_ApproveUser",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/account/ShowTermsAndConditions/{id}": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "Account_ShowTermsAndConditions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/account/delete": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_DeleteEmptyUserForPartner",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "partnerKey",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "partnerUserId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/account/kountems": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "Account_KountENS",
        "consumes": [],
        "produces": [],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/accounting/payee/all/summary": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_GetPayeesSummary",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "onlyPortalPayees",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isRoyaltyTokenPayee",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isSmartWalletPayee",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.orderByProperty",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.orderByDescending",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedList[PayeeSummaryDTO]"
            }
          }
        }
      }
    },
    "/accounting/payee/all": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_GetPayees",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "options.isInvited",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.releaseId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.paymentProviderID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.validationType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Approve",
              "Review",
              "Decline",
              "Escalate"
            ]
          },
          {
            "name": "options.isBlocked",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.payeeStatus",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.hasEnterprise",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.referrer",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.isRoyaltyTokenPayee",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.orderByProperty",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.orderByDescending",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedList[PayeeListDTO]"
            }
          }
        }
      }
    },
    "/accounting/payee/groupByLicensor": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_GetPayeesGroupByLicensor",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "options.isInvited",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.releaseId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.paymentProviderID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.validationType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Approve",
              "Review",
              "Decline",
              "Escalate"
            ]
          },
          {
            "name": "options.isBlocked",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.payeeStatus",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.hasEnterprise",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.referrer",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.isRoyaltyTokenPayee",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.orderByProperty",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.orderByDescending",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedList[LicensorDTO]"
            }
          }
        }
      }
    },
    "/accounting/payee/{id}": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_GetPayeeById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PayeeDTO"
            }
          }
        }
      }
    },
    "/accounting/payee/save": {
      "post": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_Save",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PayeeDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PayeeDTO"
            }
          }
        }
      }
    },
    "/accounting/payee/inviteall": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_InviteAll",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "permission.enterpriseId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "permission.enterpriseName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "permission.labelId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "permission.publisherId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "permission.artistId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "permission.payeeId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "permission.imageId",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "permission.name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "permission.permissionsAccountId",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "permission.isOwner",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "permission.readOnlyContent",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "permission.readOnlyContracts",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "permission.readOnlyFinance",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "permission.readOnlyDistribution",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "permission.readOnlyServices",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "permission.readOnlyTrustAndSafety",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "permission.readOnlyPromote",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "permission.readOnlyDaily",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "permission.permissionRolesId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "permission.viewAIDataAnalyst",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "permission.isActive",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "permission.isDefault",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "permission.email",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "permission.accountType",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "/accounting/payee/exportFiltered": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_ExportFilteredPayees",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.isInvited",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.releaseId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.paymentProviderID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.validationType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Approve",
              "Review",
              "Decline",
              "Escalate"
            ]
          },
          {
            "name": "options.isBlocked",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.payeeStatus",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.hasEnterprise",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.referrer",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.isRoyaltyTokenPayee",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.orderByProperty",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.orderByDescending",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/accounting/payee/exportWithTransactionsFilter": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_ExportFilteredPayeesWithTransactionsFilter",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "isContractBased",
            "in": "query",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "options.validationType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Approve",
              "Review",
              "Decline",
              "Escalate"
            ]
          },
          {
            "name": "options.balanceGreaterThanMinAmount",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.isBlocked",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.enterpriseIsLockedOut",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.failedDays",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.paymentProviderId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.isRoyaltyTokenPayee",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.isCrypto",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.orderByProperty",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.orderByDescending",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/accounting/payee/export": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_ExportPayees",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/accounting/payee/exportbycontract": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_ExportPayeesByContract",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/accounting/payments/export": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_ExportPayments",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/accounting/payee/insights": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_GetPayeeInsights",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "payeeId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "format": "double",
                "type": "number"
              }
            }
          }
        }
      }
    },
    "/accounting/payee/Currencies": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_PayeeCurrencies",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CurrencySummaryDTO"
              }
            }
          }
        }
      }
    },
    "/accounting/payee/block": {
      "post": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_BlockPayee",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "payeeIds",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int64",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/accounting/payee/unblock": {
      "post": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_UnBlockPayee",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "payeeIds",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int64",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/accounting/payee/setEnterpriseIsVip": {
      "post": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_SetEnterpriseIsVip",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "isVip",
            "in": "query",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/accounting/payee/takedownPayeeReleases": {
      "post": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_TakedownPayeeReleases",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "payeeIds",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int64",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/accounting/payee/getPayeeReleases": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_GetPayeeReleases",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReleaseSummaryDTO"
              }
            }
          }
        }
      }
    },
    "/accounting/payee/setEnterpriseIsWhiteListed": {
      "post": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_SetEnterpriseIsWhiteListed",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "isWhiteListed",
            "in": "query",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/accounting/payee/{id}/balanceItems": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_GetBalanceItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BalanceItem"
              }
            }
          }
        }
      }
    },
    "/accounting/payee/balanceItems": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_GetBalanceItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BalanceItem"
              }
            }
          }
        }
      }
    },
    "/accounting/payee/sendStatement/{id}": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_SendStatementToPayee",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/accounting/payee/requestPaymentInfo": {
      "post": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_RequestPaymentInfo",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "payeeIds",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "int64",
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/accounting/payee/requestPaymentInfoFromAll": {
      "post": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_RequestPaymentInfoFromAll",
        "consumes": [],
        "produces": [],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/accounting/paymentProvider/all": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_GetPaymentProvider",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "isPayor",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isRevProUi",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PaymentProviderDTO"
              }
            }
          }
        }
      }
    },
    "/accounting/payoutSettings": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_GetPayoutSettings",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PayoutSettingsDTO"
            }
          }
        }
      }
    },
    "/accounting/payoutSettings/save": {
      "post": {
        "tags": [
          "accounting"
        ],
        "operationId": "Payees_SavePayoutSettings",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PayoutSettingsDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PayoutSettingsDTO"
            }
          }
        }
      }
    },
    "/accounting/contract/all/summary": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_GetContractsSummary",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "options.payeeIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "options.payeeId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Active",
              "Inactive",
              "Expired",
              "NotInactive"
            ]
          },
          {
            "name": "options.releaseId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.hasAssets",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.payeeName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.payeeEmail",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.upc",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "options.isRoyaltyTokenContract",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.orderByProperty",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.orderByDescending",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedList[ContractSummaryDTO]"
            }
          }
        }
      }
    },
    "/accounting/contract/all/export": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_ExportContracts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "options.payeeIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "options.payeeId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Active",
              "Inactive",
              "Expired",
              "NotInactive"
            ]
          },
          {
            "name": "options.releaseId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.hasAssets",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.payeeName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.payeeEmail",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.upc",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "options.enterpriseOfPayorId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.orderByProperty",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.orderByDescending",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/accounting/contract/all/summaryQuery": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_GetContractsSummaryQuery",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.payeeIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "options.payeeId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Active",
              "Inactive",
              "Expired",
              "NotInactive"
            ]
          },
          {
            "name": "options.releaseId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.hasAssets",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.payeeName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.payeeEmail",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.upc",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "options.isRoyaltyTokenContract",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.orderByProperty",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.orderByDescending",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContractSummaryQueryDTO"
              }
            }
          }
        }
      }
    },
    "/accounting/contract/all": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_GetContracts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "options.payeeIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "options.payeeId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Active",
              "Inactive",
              "Expired",
              "NotInactive"
            ]
          },
          {
            "name": "options.releaseId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.hasAssets",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.payeeName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.payeeEmail",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.upc",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "options.isRoyaltyTokenContract",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.orderByProperty",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.orderByDescending",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedList[ContractDTO]"
            }
          }
        }
      }
    },
    "/accounting/contract/summary": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_GetContractSummary",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "options.payeeIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "options.payeeId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Active",
              "Inactive",
              "Expired",
              "NotInactive"
            ]
          },
          {
            "name": "options.releaseId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.hasAssets",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.payeeName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.payeeEmail",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.upc",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "options.isRoyaltyTokenContract",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.orderByProperty",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.orderByDescending",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContractsSummary"
              }
            }
          }
        }
      }
    },
    "/accounting/contract/{id}": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_Details",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContractDTO"
            }
          }
        }
      }
    },
    "/accounting/contract/lookups": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_GetContractLookups",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContractLookups"
            }
          }
        }
      }
    },
    "/accounting/contract/save": {
      "post": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_Save",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContractDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContractDTO"
            }
          }
        }
      }
    },
    "/accounting/contract/saveSummary": {
      "post": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_SaveSummary",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContractSummaryDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContractSummaryDTO"
            }
          }
        }
      }
    },
    "/accounting/contract/releases": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_GetReleases",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "options.multipleContracts",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.orderByProperty",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.orderByDescending",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedList[ReleaseContractsDTO]"
            }
          }
        }
      }
    },
    "/accounting/contract/statementRunner/preview/{pagesize}": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_ReleaseContractPreview",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "pagesize",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReleaseContractPreviewDTO"
            }
          }
        }
      }
    },
    "/accounting/contract/clone": {
      "post": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_CloneContract",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "body",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContractSummaryDTO"
            }
          }
        }
      }
    },
    "/accounting/contracts": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_GetAllContracts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderByProperty",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderByDescending",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "contractIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "payeeIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "assetIds",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "assetType",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isActive",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "licensorId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "licensorType",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "contractLevel",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "isRoyaltyTokenContract",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedList[GetAllContractsResponseDto]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_UpdateGenericContract",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateContractDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContractResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_SaveGenericContract",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateContractDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContractResponse"
            }
          }
        }
      }
    },
    "/accounting/contracts/{contractId}": {
      "get": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_GetContract",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetContractResponseDto"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "accounting"
        ],
        "operationId": "Contracts_UpdateContractStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateContractStatusDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContractResponse"
            }
          }
        }
      }
    },
    "/accounting/transactions/payee/all": {
      "get": {
        "tags": [
          "accounting/transactions"
        ],
        "operationId": "Transactions_GetPayees",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "options.validationType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Approve",
              "Review",
              "Decline",
              "Escalate"
            ]
          },
          {
            "name": "options.balanceGreaterThanMinAmount",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.isBlocked",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.enterpriseIsLockedOut",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.failedDays",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.paymentProviderId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.isRoyaltyTokenPayee",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.isCrypto",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.orderByProperty",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.orderByDescending",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedListWithTotal[PaymentTransactionDTO]"
            }
          }
        }
      }
    },
    "/accounting/transactions/all": {
      "get": {
        "tags": [
          "accounting/transactions"
        ],
        "operationId": "Transactions_GetTransactions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "options.fromDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "options.toDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "options.status",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Pending",
                "Paid",
                "Failed",
                "Processing",
                "Returned",
                "SentForProcessing",
                "SentForUpdate",
                "OnHold"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "options.paymentProviderId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.groupBy",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DateMonth",
              "Status"
            ]
          },
          {
            "name": "options.yProperty",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "TotalAmount",
              "TotalQuantity"
            ]
          },
          {
            "name": "options.withDelta",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.onlyPayments",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.payorId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.payeeId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "options.isExternal",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.transactionType",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "options.orderByProperty",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "options.orderByDescending",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "options.searchText",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedList[TransactionDTO]"
            }
          }
        }
      }
    },
    "/accounting/transactions/save": {
      "post": {
        "tags": [
          "accounting/transactions"
        ],
        "operationId": "Transactions_SaveTransactionRecord",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TransactionDTO"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedList[PayeeShortDTO]"
            }
          }
        }
      }
    },
    "/accounting/transactions/payments/save": {
      "post": {
        "tags": [
          "accounting/transactions"
        ],
        "operationId": "Transactions_SavePayments",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "payments",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PaymentTransactionDTO"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/accounting/transactions/retry": {
      "post": {
        "tags": [
          "accounting/transactions"
        ],
        "operationId": "Transactions_RetryPayments",
        "consumes": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/javascript",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "body",
            "required": true,
[...]
